body {
  color: black;
}

nav {
  /*background-color: white;*/
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}


.sidenav {
  box-shadow: none;
  border-right: 1px solid rgba(0, 0, 0, 0.14);
}

h1 {
  margin: 0;
  padding: 22px 0 0 0;
  color: #ee6e73;
  font-weight: 300;
}

.budget-container{
  width: 80%;
  margin: auto;
}

.table-container{

}

.add-btn{
  margin: 10px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
